.armor
    padding-top: 206px
    &__img
        display: block
        margin: 0 auto 15px
    .block
        &__heading
            text-align: center
            margin-bottom: 50px
            span
                display: block
                max-width: 682px
                margin: 0 auto
                position: relative
                &:after
                    content: ''
                    position: absolute
                    bottom: 4px
                    left: 0
                    width: 100%
                    height: 5px
                    z-index: -1
                    border-radius: 5px
                    background-color: #00D5FF
    .list
        list-style: none
        display: flex
        flex-direction: column
        align-items: center
        margin: 0
        padding: 0
        li
            display: flex
            align-items: center
            margin-bottom: 15px
            font-size: 24px
            font-weight: 500
            img
                display: block
                width: 22px
                height: 22px
                object-fit: contain
                margin-right: 27px
            p
                margin: 0