.choice
    position: relative
    padding-bottom: 90px
    &__bg
        position: absolute
        top: -300px
        left: 50%
        transform: translateX(-1050px)
        width: 437px
        height: 469px
    &__container
        width: 100%
        background-color: $white
        border-radius: 30px
        padding: 25px 0
        box-shadow: 0px 16px 30px rgba(0,0,0,0.12)
        position: relative
        z-index: 1
    .block
        &__heading
            margin-top: 50px
    .list
        list-style: none
        display: flex
        justify-content: space-between
        margin: 0 0 10px 0
        padding: 0
        li
            flex: 0 0 25%
            .counter
                b
                    opacity: 0.1
                    color: $blue
                    font-size: 100px
                    line-height: 1
                    display: block
                    text-align: center
                p
                    margin: -60px 0 30px
                    text-align: center
            img
                display: block
                width: 183px
                height: 108px
                object-fit: contain