.client
    position: relative
    padding-top: 120px
    .block
        &__heading
            display: block
            max-width: 540px
            margin: 0 auto 60px
            text-align: center
            position: relative
            &:after
                content: ''
                position: absolute
                bottom: 4px
                left: 0
                width: 100%
                height: 4px
                z-index: -1
                border-radius: 5px
                background: linear-gradient(to right, #73AE92 0%, #D8F8CE 100%)
    &__smile
        display: block
        margin: 0 auto 10px
        width: 92px
        height: 92px
    &__bg
        background: url("../img/decors/client__bg.svg")
        position: absolute
        top: 260px
        left: 50%
        transform: translateX(-49.4%)
        width: 2123px
        height: 1078px
    &__messenger
        width: 340px
        border-radius: 30px
        box-shadow: 0px 15px 22px rgba(0,0,0,0.13)
        .top
            border-radius: 30px 30px 0 0
            height: 40px
            width: 100%
            background-color: #005E53
        .center
            img
                display: block
                width: 340px
                max-height: 637px
                object-fit: cover
        .bottom
            background-color: #f7f7f7
            padding-bottom: 10px
            border-radius: 0 0 30px 30px
            img
                display: block
                max-width: 340px
                border-radius: 0 0 20px 20px
    &__note
        background-color: $white
        box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
        border-radius: 20px
        position: relative
        margin: 70px auto 0
        max-width: 560px
        padding: 30px
        p
            margin: 0 auto
            text-align: center
            font-size: 24px
            font-weight: 500
        &:after
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 0 20px 25px 0
            border-color: transparent $white transparent transparent
            position: absolute
            bottom: 15px
            left: -20px