.compare
    padding-top: 90px
    .block
        &__heading
            text-align: center
            font-size: 24px
            span
                display: block
                color: $blue
        &__desc
            background-color: $white
            box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
            border-radius: 20px
            position: relative
            margin: 40px 0 60px -30px
            padding: 20px 30px
            font-size: 18px
            line-height: 1.3
            &:after
                content: ''
                width: 0
                height: 0
                border-style: solid
                border-width: 0 20px 25px 0
                border-color: transparent $white transparent transparent
                position: absolute
                bottom: 15px
                left: -19px
    &__button
        appearance: none
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        border: none
        background: none
        font-size: 24px
        text-align: center
        line-height: 1
        cursor: pointer
        margin: 0 auto
        padding: 0
        img
            display: block
            width: 36px
            height: 36px
            object-fit: contain
            margin-top: 10px
            transition: all 0.3s ease
        &:hover
            img
                transform: translateY(10px)
    &__blocks
        list-style: none
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin: 0 0 38px
        padding: 0
        li
            margin-bottom: 20px
            flex: 0 0 32.2%
            border-radius: 20px
            box-shadow: 0px 16px 25px rgba(0,0,0,0.12)
            .cocoen
                width: 100%
                height: 210px
                border-radius: 20px
            img
                width: 100%
                height: 210px
                object-fit: cover
                border-radius: 20px
            &.hidden
                display: none