.composite
    position: relative
    padding-top: 180px
    &__counter
        b
            opacity: 0.1
            font-size: 100px
            line-height: 1
        p
            font-size: 24px
            font-weight: 500
            margin: -60px 0 30px
    &__note
        background-color: $white
        box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
        border-radius: 20px
        position: relative
        margin: 15px 0 90px -30px
        max-width: 430px
        padding: 20px 30px
        p
            margin: 0
        &:after
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 0 20px 25px 0
            border-color: transparent $white transparent transparent
            position: absolute
            bottom: 15px
            left: -20px
    &__text
        font-weight: 500
        line-height: 1.3
        margin-bottom: 30px
        b
            display: block
            color: $orange
            font-size: 24px
    &__img
        display: block
        margin-top: -365px
        margin-left: 14px
    .list
        list-style: none
        margin: 0
        padding: 0
        max-width: 510px
        li
            display: flex
            align-items: flex-start
            margin-bottom: 30px
            p
                margin: 0
            &:before
                content: ''
                display: block
                width: 14px
                flex: 0 0 14px
                height: 3px
                border-radius: 3px
                background-color: $orange
                margin-right: 20px
                margin-top: 10px
    &__summary
        display: flex
        align-items: center
        margin: 0 30px 0 -170px
        img
            display: block
            width: 156px
            height: 95px
            flex: 0 0 156px
            margin-right: 10px
        div
            b
                display: block
                color: $blue
                font-size: 24px
            p
                margin: 0
                line-height: 1.2