.contacts
    padding-top: 66px
    .block
        &__heading
            margin-left: 80px
    .list
        list-style: none
        margin: 30px 0 70px
        padding: 0
        li
            display: flex
            align-items: center
            margin-bottom: 35px
            img
                display: block
                width: 36px
                height: 38px
                object-fit: contain
                margin-right: 23px
            a, p
                display: block
                margin: 0
                color: $black
                line-height: 1.3
                &:hover
                    color: $black
                    text-decoration: none
    &__map
        background-color: $white
        margin-top: -166px
        border-radius: 30px
        height: 590px
        width: 560px
        box-shadow: 0px 16px 32px rgba(0,0,0,0.12)
        ymaps
            border-radius: 30px
        img
            display: block
            border-radius: 30px
            width: 100%
            height: 100%
            object-fit: cover
            object-position: 50%
    &__link
        display: flex
        background-color: $white
        border-radius: 20px
        padding: 20px
        color: $black
        max-width: 330px
        box-shadow: 0px 16px 32px rgba(0,0,0,0.12)
        img
            display: block
            width: 48px
            height: 48px
            flex: 0 0 48px
            margin-right: 20px
            filter: drop-shadow(0px 3px 5px rgba(187,0,249,0.54))
        p
            margin: 0
            line-height: 1.3
        &:hover
            color: $black
            text-decoration: none