.consult
    position: relative
    padding-top: 200px
    padding-bottom: 150px
    .block
        &__desc
            font-size: 36px
            text-align: center
            margin-bottom: 80px
        &__heading
            margin-bottom: 760px
            text-align: center
            span
                display: inline-block
                position: relative
                &:after
                    content: ''
                    position: absolute
                    bottom: 4px
                    left: 0
                    width: 100%
                    height: 5px
                    z-index: -1
                    border-radius: 5px
                    background-color: #00D5FF
    &__bg
        background: url("../img/consult__bg.png")
        position: absolute
        bottom: 0px
        left: 50%
        transform: translateX(-960px)
        width: 1920px
        height: 1119px
    .form
        margin-top: 150px
        padding: 54px
        background-color: $white
        border-radius: 30px
        box-shadow: 0px 16px 40px rgba(0,0,0,0.12)