.crowns
    margin-top: -130px
    position: relative
    &__bg
        background: url("../img/decors/crowns__decor.svg")
        position: absolute
        top: 300px
        left: 50%
        transform: translateX(-49.5%)
        width: 2407px
        height: 1757px
    &__img
        display: block
        margin-bottom: 100px
    &__counter
        b
            opacity: 0.1
            font-size: 100px
            line-height: 1
        p
            font-size: 24px
            font-weight: 500
            margin: -60px 0 30px
    &__note
        background-color: $white
        box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
        border-radius: 20px
        position: relative
        margin: 15px 0 30px -30px
        max-width: 200px
        padding: 20px 30px
        p
            margin: 0
        &:after
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 0 20px 25px 0
            border-color: transparent $white transparent transparent
            position: absolute
            bottom: 15px
            left: -20px
    &__text
        font-weight: 500
        line-height: 1.3
        margin-bottom: 30px
        span
            display: block
            font-size: 24px
        b
            display: block
    &__dialogue
        list-style: none
        margin: 0 58px 0 -35px
        padding: 0
        display: flex
        flex-direction: column
        li
            display: flex
            align-items: center
            margin-bottom: 20px
            img
                display: block
                width: 92px
                height: 92px
                margin-left: 28px
            div
                background-color: $white
                box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                border-radius: 20px
                position: relative
                margin: 0
                max-width: 430px
                padding: 30px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 20px 25px 0
                    border-color: transparent $white transparent transparent
                    position: absolute
                    bottom: 25px
                    left: -20px
                p
                    font-weight: 500
                    line-height: 1.3
                    margin: 0
                    &.heading
                        font-size: 24px
                        color: $orange
                        margin-bottom: 10px
            &:first-child
                img
                    margin-bottom: 10px
                div
                    background-color: $orange
                    color: $white
                    padding: 23px 20px
                    margin: 0 0 0 auto
                    &:after
                        left: auto
                        right: -19px
                        bottom: 15px
                        border-width: 25px 20px 0 0
                        border-color: $orange transparent transparent transparent
                    p
                        margin: 0