.emax
    position: relative
    .block
        &__heading
            text-align: center
    &__bg
        background: url("../img/decors/emax__decor.svg")
        position: absolute
        top: 450px
        left: 50%
        transform: translateX(-50%)
        width: 1408px
        height: 1408px
    &__container
        background-color: $white
        border-radius: 20px
        margin: 0 -30px
        padding: 70px
        box-shadow: 0px 20px 16px rgba(0,0,0,0.1)
    &__letters
        display: block
        width: 100%
        color: rgba(255,255,255,0.3)
        text-shadow: 0px -12px 27px rgba(0,0,0,0.03)
        text-align: center
        margin: -200px auto -200px
        transform: translateX(-160px)
        font-size: 780px
        line-height: 1
        pointer-events: none
    &__title
        display: block
        max-width: 400px
        margin: -30px auto 80px
        text-align: center
        font-size: 140px
        line-height: 1
        color: $blue
        background: linear-gradient(to right, #A800FF, #00CCED)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &__desc
        font-size: 36px
        text-align: center
        max-width: 510px
        margin: 0 auto
        span
            display: block
            position: relative
            z-index: 1
            &:after
                content: ''
                position: absolute
                bottom: 4px
                left: 0
                width: 100%
                height: 5px
                z-index: -1
                border-radius: 5px
                background-color: #00D5FF
    &__image
        display: block
        max-width: 100%
        margin: 0 auto 20px
    &__list
        list-style: none
        margin: 100px 0 100px
        padding: 0 40px
        display: flex
        justify-content: space-between
        li
            flex: 0 0 30%
            img
                display: block
                width: 80px
                height: 80px
                object-fit: contain
                margin: 0 auto 20px
            b
                display: block
                color: $blue
                text-align: center
                font-size: 24px
                margin-bottom: 15px
            p
                margin: 0
                text-align: center
    &-cheaper
        position: relative
        .block
            &__heading
                text-align: center
                margin-bottom: 87px
        &__bg
            background: url("../img/decors/cheap__bg.svg")
            position: absolute
            top: 200px
            left: 50%
            transform: translateX(-50%)
            width: 1920px
            height: 61px
        &__block
            background-color: $white
            border-radius: 20px
            min-height: 110px
            display: flex
            flex-direction: column
            align-items: center
            box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
            b
                display: block
                font-size: 24px
                color: $blue
                margin: -15px auto 20px
            p
                max-width: 207px
                margin: 0 auto
                text-align: center
                span
                    display: block
                    color: $blue
            &_right
                b
                    color: $orange
                p
                    span
                        color: $orange
    &-color
        position: relative
        padding-top: 212px
        .block
            &__heading
                text-align: center
        &__img
            display: block
            margin: 38px auto 84px
            transform: translateX(5px)
        &__block
            display: flex
            flex-direction: column
            b
                display: flex
                text-align: center
                color: $orange
                font-size: 24px
                margin-bottom: 16px
                flex: 0 0 58px
                align-items: center
                justify-content: center
            p
                margin: 0
                text-align: center
            .arrow
                display: block
                width: 104px
                height: 84px
                flex: 0 0 84px
                margin: 30px 0 0 auto
            &_right
                b
                    color: $blue
                .arrow
                    margin: 30px auto 0 0
        &__note
            text-align: center
            font-size: 24px
            font-weight: 500
            margin: 25px 0 0
    &-features
        position: relative
        padding-top: 100px
        .block
            &__heading
                text-align: center
                max-width: 314px
                margin: 0 auto 15px
                span
                    display: block
                    position: relative
                    &:after
                        content: ''
                        position: absolute
                        bottom: 4px
                        left: 0
                        width: 100%
                        height: 5px
                        z-index: -1
                        border-radius: 5px
                        background-color: #00D5FF
            &__desc
                font-size: 18px
                text-align: center
        &__bg
            background: url("../img/decors/emax__features_bg.svg")
            position: absolute
            top: -346px + 100px
            left: 50%
            transform: translateX(-45.6%)
            width: 2769px
            height: 2142px
        .dialogue
            list-style: none
            margin: 130px auto 0
            padding: 0
            display: flex
            flex-direction: column
            li
                display: flex
                flex-direction: column
                img
                    display: block
                    max-width: 100%
                    margin-bottom: 30px
                div
                    background-color: $white
                    box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                    border-radius: 20px
                    position: relative
                    margin: 0
                    padding: 20px 30px
                    &:after
                        content: ''
                        width: 0
                        height: 0
                        border-style: solid
                        border-width: 0 20px 25px 0
                        border-color: transparent $white transparent transparent
                        position: absolute
                        bottom: 10px
                        left: -18px
                    b
                        font-size: 24px
                    p
                        font-weight: 500
                        line-height: 1.3
                        margin: 0
                        &.heading
                            font-size: 24px
                            color: $orange
                            margin-bottom: 10px
                &:nth-child(1)
                    flex-direction: column
                    align-items: flex-end
                    margin-bottom: 30px
                    div
                        background-color: $blue
                        color: $white
                        width: 100%
                        margin: 0 0 0 auto
                        &:after
                            left: auto
                            right: 17px
                            top: -20px
                            bottom: auto
                            border-width: 20px 0 0 25px
                            border-color: transparent transparent transparent $blue
                        p
                            margin: 0
                &:last-child
                    div
                        padding: 20px 40px
                        margin: 0 auto
        &__container
            margin: 30px -30px 0
            background-color: $white
            border-radius: 30px
            padding: 60px 80px
            .list
                list-style: none
                display: flex
                justify-content: space-between
                margin: 0
                padding: 0
                li
                    flex: 0 0 30%
                    img
                        display: block
                        height: 95px
                        width: auto
                        object-fit: contain
                        margin: 0 auto 26px
                    b
                        display: block
                        font-size: 24px
                        text-align: center
                        color: $blue
                        margin-bottom: 30px
                        span
                            display: block
                            color: $gray-600
                    p
                        margin: 0
                        line-height: 1.3
        .button
            border-radius: 50%
            width: 160px
            height: 160px
            font-size: 18px
            margin-bottom: 120px
            &:before
                border-radius: 50%
            div
                width: 200px
                height: 200px
                border-radius: 50%
                background: linear-gradient(to right, #0078FF, #00CCED)
                opacity: 0.3
                position: absolute
                top: -20px
                left: -20px
                pointer-events: none
            p
                font-weight: 700