.guarantee
    position: relative
    padding-top: 180px
    .block
        &__heading
            max-width: 355px
            margin: 0 auto 80px
            position: relative
            &:after
                content: ''
                position: absolute
                bottom: 4px
                left: 0
                width: 100%
                z-index: -1
                height: 5px
                border-radius: 5px
                background-color: #00D5FF
        &__desc
            text-align: center
    &__bg
        background: url("../img/decors/guarantee__bg.svg")
        position: absolute
        top: 180px
        left: 50%
        transform: translateX(-1121px)
        width: 2243px
        height: 646px
    &__image
        margin-bottom: 20px
        img
            display: block
            margin: 0 auto
        b
            display: block
            text-align: center
            font-size: 36px
            color: $blue
    &__text
        text-align: center
        margin: 0
        line-height: 1.3
    &-reason
        position: relative
        padding-top: 125px
        &__bg
            background: url("../img/decors/guarantee-reason__bg.svg")
            position: absolute
            top: 150px
            left: 50%
            transform: translateX(-1075px)
            width: 2286px
            height: 956px
        .dialogue
            list-style: none
            margin: 0 auto 0
            padding: 0
            display: flex
            max-width: 550px
            flex-direction: column
            li
                display: flex
                flex-direction: column
                margin-bottom: 20px
                img
                    display: block
                    width: 92px
                    height: 92px
                    margin: 0 auto 25px
                div
                    background-color: $white
                    box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                    border-radius: 20px
                    position: relative
                    width: 100%
                    padding: 23px 40px
                    &:after
                        content: ''
                        width: 0
                        height: 0
                        border-style: solid
                        border-width: 0 20px 25px 0
                        border-color: transparent $white transparent transparent
                        position: absolute
                        bottom: 25px
                        left: -20px
                    b
                        display: block
                        text-align: center
                        font-size: 36px
                        margin-bottom: 20px
                    p
                        font-weight: 500
                        line-height: 1.3
                        font-size: 18px
                &.customer
                    div
                        background-color: $blue
                        color: $white
                        p
                            font-size: 24px
                            margin: 0
                        &:after
                            left: auto
                            right: 15px
                            bottom: auto
                            top: -19px
                            border-width: 20px 0 0 20px
                            border-color: transparent transparent transparent $blue