.intro
    padding-top: 130px
    position: relative
    &__bg
        position: absolute
        background: url("../img/decors/intro__bg.svg") no-repeat center center / cover
        top: 130px + 90px
        left: 50%
        transform: translateX(-52%)
        width: 2252px
        height: 1616px
    &__image
        display: block
        margin-top: 60px
        margin-left: -50px
    &__doctor
        background-color: $white
        max-width: 400px
        border-radius: 20px
        padding: 30px 0
        box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
        b,p
            display: block
            text-align: center
            margin: 0
        b
            color: $blue
            font-size: 24px
            line-height: 1.5
    &__feelings
        display: flex
        align-items: center
        max-width: 530px
        margin: 15px 0 85px
        img
            display: block
            width: 83px
            height: 91px
            flex: 0 0 83px
            margin-right: 35px
        p
            margin: 0
            color: $orange
            font-weight: 500
            font-size: 24px
            line-height: 1.3
    &__heading
        display: block
        position: relative
        font-size: 36px
        line-height: 1.2
        margin-bottom: 30px
        &:after
            content: ''
            position: absolute
            bottom: 4px
            left: 0
            width: 100%
            max-width: 440px
            height: 8px
            z-index: -1
            border-radius: 5px
            background-color: #00D5FF
    &__text
        color: #777777
        font-weight: 500
        line-height: 1.4
        margin-bottom: 32px
        max-width: 570px
        b
            color: $black
    &__note
        display: block
        margin: 0 0 0 -35px
        max-width: 420px
        border-radius: 20px
        padding: 25px 35px
        line-height: 1.3
        background-color: #F1F6FE
    .button
        max-width: 200px
        margin: -96px 0 0 auto
        font-size: 16px
        font-weight: 600
        box-shadow: none
        div
            width: 96px
            height: 96px
            background: linear-gradient(to right, #0078FF, #00CCED)
            border-radius: 50%
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: -16px
            z-index: -1
            &:after
                content: ''
                width: 88px
                height: 88px
                position: absolute
                left: 4px
                top: 4px
                background-color: $white
                border-radius: 50%
    .iphone
        position: relative
        pointer-events: none
        width: 432px
        margin: 116px auto -600px
        .frame
            width: 297px
            height: 660px
            position: absolute
            top: 20px
            left: 68px
            background: linear-gradient(to bottom, #00C8FF 0%, #FFFFFF 100%)
            border-radius: 30px
        img
            display: block
            position: relative
            z-index: 1
    .dialogue
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-direction: column
        li
            display: flex
            align-items: flex-end
            img
                display: block
                width: 92px
                height: 92px
            div
                background-color: $white
                box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                border-radius: 30px
                position: relative
                margin-left: 90px
                z-index: 1
                padding: 20px 33px
                min-width: 500px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 20px 25px 0
                    border-color: transparent $white transparent transparent
                    position: absolute
                    bottom: 25px
                    left: -20px
                b
                    font-size: 24px
                    line-height: 1.3
                p
                    font-weight: 500
                    line-height: 1.3
                    span
                        color: $blue
            &:nth-child(2)
                margin: 8px 0 30px
                img
                    margin-bottom: 10px
                div
                    background-color: $blue
                    color: $white
                    padding: 25px 33px
                    margin-left: auto
                    margin-right: 37px
                    min-width: 400px
                    &:after
                        left: auto
                        right: -19px
                        border-width: 25px 20px 0 0
                        border-color: $blue transparent transparent transparent
                    p
                        margin: 0
                        font-size: 24px
            &:last-child
                img
                    margin-left: -35px
                    margin-bottom: 40px
                div
                    margin-left: 35px
                    p.heading
                        font-size: 24px