.jumbotron
    margin-top: 128px
    padding-top: 70px
    background: url("../img/jumbotron__bg.jpg") no-repeat center top
    h1
        font-size: 48px
        font-weight: 400
        line-height: 1.5
        margin-right: -100px
    .button
        width: 440px
    &__desc
        font-size: 24px
        line-height: 1.5
        margin: 40px 0 40px
    &__price
        font-size: 24px
        margin: 54px 0 0
        max-width: 380px
        span
            font-weight: 700
            display: block
            font-size: 96px
            line-height: 1
            color: $blue
            background: linear-gradient(to right, #0078FF, #00CCED)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
    &__image
        display: block
        margin-top: -148px
        margin-left: -140px
    &__list
        list-style: none
        display: flex
        margin: -100px -15px 0
        padding: 0
        justify-content: space-between
        li
            background: linear-gradient(30deg, rgba(224, 68, 255, 0.8) 0%, rgba(0, 120, 255, 0.8) 50%, rgba(0, 246, 255, 0.8) 100%)
            background-repeat: no-repeat
            background-size: 1200px
            padding: 20px 10px
            border-radius: 15px
            display: flex
            flex-direction: column
            align-items: center
            color: $white
            flex: 0 0 22%
            box-shadow: 0px 13px 20px rgba(0,0,0,0.11)
            img
                display: block
                width: 47px
                height: 47px
                object-fit: contain
                margin-bottom: 18px
            p
                margin: 0
                text-align: center
            &:first-child
                background-position: 0 0
            &:nth-child(2)
                background-position: -300px 0
            &:nth-child(3)
                background-position: -600px 0
            &:last-child
                background-position: -900px 0