.life-change
    position: relative
    padding-top: 212px
    .block
        &__heading
            text-align: center
            span
                position: relative
                &:after
                    content: ''
                    position: absolute
                    bottom: 4px
                    left: 0
                    width: 100%
                    height: 5px
                    z-index: -1
                    border-radius: 5px
                    background-color: #00D5FF
    &__bg
        background: url("../img/decors/life-change__bg.svg")
        position: absolute
        top: 212px + 30px
        left: 50%
        transform: translateX(-1430px)
        width: 2624px
        height: 1557px
    &__img
        display: block
        border-radius: 170px
        margin: 0 auto
    .list
        list-style: none
        display: flex
        flex-direction: column
        align-items: center
        margin: 50px 0 0
        padding: 0
        li
            display: flex
            align-items: center
            margin-bottom: 20px
            width: 512px
            img
                display: block
                width: 19px
                height: 19px
                margin-right: 25px
            p
                margin: 0
            &:nth-child(3), &:last-child
                width: 326px
    .dialogue
        list-style: none
        margin: -20px 0 0 0
        padding: 0
        display: flex
        flex-direction: column
        li
            display: flex
            align-items: flex-end
            justify-content: center
            position: relative
            z-index: 1
            margin-bottom: 9px
            img
                display: block
                width: 92px
                height: 92px
                margin-left: 20px + 25px
            div
                background-color: $white
                box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                border-radius: 20px
                position: relative
                padding: 20px 50px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 20px 25px 0
                    border-color: transparent $white transparent transparent
                    position: absolute
                    bottom: 25px
                    left: -20px
                b
                    font-size: 24px
                    line-height: 1.3
                p
                    font-weight: 500
                    line-height: 1.3
                    font-size: 18px
                    margin: 0
                    &.heading
                        margin-bottom: 15px
                        font-size: 24px
                        font-weight: 500
            &.customer
                img
                    margin-bottom: 10px
                div
                    background-color: $blue
                    color: $white
                    &:after
                        left: auto
                        right: -19px
                        border-width: 25px 20px 0 0
                        border-color: $blue transparent transparent transparent
            &:first-child
                transform: translateX(100px)
            &:nth-child(2)
                transform: translateX(40px)
                div
                    &:after
                        border-width: 0 0 25px 20px
                        border-color: transparent transparent $white transparent
            &:last-child
                transform: translateX(-30px)
                img
                    margin-left: 0
                    margin-right: 20px + 25px
                div
                    min-width: 547px