.math
    position: relative
    padding-top: 115px
    padding-bottom: 125px
    margin-top: -5px
    .block
        &__heading
            text-align: center
    &__bg
        background: url("../img/decors/math__bg.svg")
        position: absolute
        top: 0px
        left: 50%
        transform: translateX(-50.5%)
        width: 2307px
        height: 746px
    &__container
        position: relative
        background-color: $white
        padding: 50px 0
        margin: 40px 0 0
        box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
        z-index: 1
    &__heading
        display: block
        font-size: 24px
        margin-bottom: 30px
    &__text
        margin-bottom: 30px
        line-height: 1.3
        span
            color: $orange
            font-weight: 700
    &__note
        color: $orange
        padding: 9px 20px
        background-color: #F3D6D9
        margin: -25px 0 5px -20px
        max-width: 350px