.meeting
    position: relative
    .block
        &__heading
            text-align: center
        &__desc
            text-align: center
    &__icon
        display: block
        width: 92px
        height: 92px
        margin: 0 auto 30px
    &__bg
        background: url('../img/decors/meeting__bg.svg')
        position: absolute
        top: 140px
        left: 50%
        transform: translateX(-51.3%)
        width: 1972px
        height: 737px
    .form
        margin-top: 150px
        padding: 54px
        background-color: $white
        border-radius: 30px
        box-shadow: 0px 16px 40px rgba(0,0,0,0.12)