.model
    position: relative
    padding-top: 130px
    &__bg
        background: url("../img/decors/model__bg.svg")
        position: absolute
        top: -80px
        left: 50%
        transform: translateX(-1225px)
        width: 2185px
        height: 1081px
    .dialogue
        list-style: none
        margin: 0 auto 144px
        padding: 0
        display: flex
        max-width: 700px
        flex-direction: column
        li
            display: flex
            align-items: flex-end
            justify-content: center
            position: relative
            z-index: 1
            margin-bottom: 26px
            img
                display: block
                width: 330px
                height: 306px
                margin-left: -180px
                margin-right: -120px
                position: relative
                z-index: 1
            div
                background-color: $white
                box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                border-radius: 20px
                position: relative
                width: 100%
                padding: 36px 88px 6px 150px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 20px 25px 0
                    border-color: transparent $white transparent transparent
                    position: absolute
                    bottom: 25px
                    left: -20px
                    visibility: hidden
                p
                    font-weight: 500
                    line-height: 1.3
                    font-size: 18px
                    margin: 0 0 30px
                    span
                        color: $blue
            &.customer
                padding-left: 92px + 45px
                img
                    margin-bottom: 10px
                div
                    background-color: $blue
                    max-width: 510px
                    margin: 0 auto
                    padding: 23px 40px
                    color: $white
                    p
                        margin: 0
                    &:after
                        visibility: visible
                        left: auto
                        right: -19px
                        bottom: 14px
                        border-width: 25px 20px 0 0
                        border-color: $blue transparent transparent transparent
            &:last-child
                transform: translateX(70px)