.multilayer
    position: relative
    padding-top: 206px
    .block
        &__heading
            margin-bottom: 30px
            span
                display: block
                font-size: 24px
    &__bg
        background: url("../img/decors/multilayer__bg.svg")
        position: absolute
        top: 60px
        left: 50%
        transform: translateX(-57.8%)
        width: 2272px
        height: 3132px
    &__counter
        b
            opacity: 0.1
            font-size: 100px
            line-height: 1
        p
            font-size: 24px
            font-weight: 500
            margin: -60px 0 30px
    &__text
        font-weight: 500
        line-height: 1.3
        margin-bottom: 30px
        &-pre
            margin: -100px 55px 0 auto
            max-width: 80px
            font-size: 24px
    &__img
        display: block
        margin: -118px 0 0 135px
    .list
        list-style: none
        margin: 0 0 0 -35px
        padding: 0
        max-width: 510px
        li
            display: flex
            align-items: flex-start
            position: relative
            p
                margin: 0
            &:before, &:after
                content: ''
                display: block
                width: 17px
                flex: 0 0 17px
                height: 3px
                border-radius: 3px
                background-color: $blue
                margin-right: 18px
                margin-top: 10px
            &:after
                width: 3px
                flex: 0 0 3px
                height: 17px
                position: absolute
                left: 7px
                top: -7px
        &_minus
            li
                &:before
                    background-color: $orange
                &:after
                    display: none
        &-pre
            display: block
            color: $blue
            font-size: 24px
            margin: 40px 0 5px
            &_minus
                color: $orange
    .dialogue
        list-style: none
        margin: 40px 58px 0 -35px
        max-width: 460px
        padding: 0
        display: flex
        flex-direction: column
        li
            display: flex
            align-items: center
            img
                display: block
                width: 92px
                height: 92px
                margin-left: 28px
            div
                background-color: $white
                box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                border-radius: 20px
                position: relative
                margin: 0
                max-width: 460px
                padding: 15px 30px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 20px 25px 0
                    border-color: transparent $white transparent transparent
                    position: absolute
                    bottom: 10px
                    left: -18px
                p
                    font-weight: 500
                    line-height: 1.3
                    margin: 0
                    &.heading
                        font-size: 24px
                        color: $orange
                        margin-bottom: 10px
            &:nth-child(2)
                flex-direction: column
                align-items: flex-end
                margin-bottom: 30px
                img
                    margin-left: 0
                    margin-top: -92px
                    margin-bottom: 30px
                div
                    background-color: $blue
                    color: $white
                    width: 100%
                    margin: 0 0 0 auto
                    &:after
                        left: auto
                        right: 17px
                        top: -20px
                        bottom: auto
                        border-width: 20px 0 0 25px
                        border-color: transparent transparent transparent $blue
                    p
                        margin: 0