.not-sure
    margin-top: 150px
    .block
        &__heading
            text-align: center
            margin: 30px -15px
        &__desc
            text-align: center
            line-height: 1.3
            span
                display: inline-block
                position: relative
                &:after
                    content: ''
                    position: absolute
                    bottom: 3px
                    left: 0
                    width: 100%
                    z-index: -1
                    height: 5px
                    border-radius: 5px
                    background-color: #00D5FF
    &__cite
        background-color: $blue
        color: $white
        box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
        border-radius: 20px
        position: relative
        margin: -5px auto 0
        max-width: 530px
        padding: 20px 30px
        font-size: 24px
        text-align: center
        font-weight: 500
        line-height: 1.3
        &:after
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 25px 20px 0 0
            border-color: $blue transparent transparent transparent
            position: absolute
            bottom: 15px
            right: -19px