.price
    position: relative
    &__bg
        background: url('../img/decors/price__bg.svg')
        position: absolute
        top: -45px
        left: 50%
        transform: translateX(-49.2%)
        width: 2455px
        height: 1115px
    &__icon
        display: block
        width: 120px
        height: 110px
        margin-top: 30px
        margin-bottom: 40px
    &__gradient
        display: block
        margin: 20px auto 20px
        font-size: 100px
        font-weight: 700
        line-height: 1
        color: $blue
        background: linear-gradient(to right, #A800FF, #00CCED)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &__text
        font-size: 24px
        font-weight: 500
        line-height: 1.3
        margin: 0
    &__img
        display: block
        margin-top: -50px
        margin-left: -120px
    .iphone
        position: relative
        pointer-events: none
        width: 432px
        margin: 116px auto -600px
        .frame
            width: 297px
            height: 660px
            position: absolute
            top: 20px
            left: 68px
            background: linear-gradient(to bottom, #FFFFFF 0%, #C799FF 100%)
            border-radius: 30px
        img
            display: block
            position: relative
            z-index: 1
    .dialogue
        list-style: none
        margin: 0 0 200px 0
        padding: 0
        display: flex
        flex-direction: column
        li
            display: flex
            align-items: flex-end
            justify-content: center
            position: relative
            z-index: 1
            margin-bottom: 9px
            img
                display: block
                width: 92px
                height: 92px
                margin-left: 20px + 25px
            div
                background-color: $white
                box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                border-radius: 20px
                position: relative
                padding: 20px 50px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 20px 25px 0
                    border-color: transparent $white transparent transparent
                    position: absolute
                    bottom: 25px
                    left: -20px
                b
                    font-size: 24px
                    line-height: 1.3
                p
                    font-weight: 500
                    line-height: 1.3
                    font-size: 18px
                    margin: 0
                    span
                        font-weight: 700
            &.customer
                img
                    margin-bottom: 10px
                div
                    background-color: $blue
                    color: $white
                    &:after
                        left: auto
                        right: -19px
                        border-width: 25px 20px 0 0
                        border-color: $blue transparent transparent transparent
            &:first-child
                transform: translateX(150px)
            &:nth-child(4)
                margin-top: 53px - 9px
                transform: translateX(-130px)