.reviews
    position: relative
    padding-top: 170px
    .block
        &__heading
            text-align: center
    &__bg
        background: url("../img/decors/reviews__bg.svg")
        position: absolute
        top: 0px
        left: 50%
        transform: translateX(-1480px)
        width: 2933px
        height: 934px
    &__blocks
        list-style: none
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin: 105px 0 0
        padding: 0
        li
            background-color: $white
            flex: 0 0 32%
            margin-bottom: 80px
            padding: 35px
            border-radius: 20px
            box-shadow: 0px 16px 22px rgba(0,0,0,0.11)
            img
                display: block
                width: 103px
                height: 103px
                object-fit: cover
                object-position: 50%
                margin: -90px auto 5px
                border: 9px solid $white
                border-radius: 50%
            .author
                b
                    display: block
                    font-size: 24px
                    text-align: center
                    margin: 5px auto 15px
                    span
                        color: $blue
                p
                    color: $gray-500
                    text-align: center
                    margin: 5px auto 15px
            .text
                line-height: 1.3
                max-height: 165px
                transition: all 0.3s ease
                overflow: hidden
                position: relative
                &:after
                    content: ''
                    position: absolute
                    bottom: 0px
                    left: 0
                    width: 100%
                    height: 20px
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%)
                    pointer-events: none
                &.visible
                    max-height: 100%
                    &:after
                        display: none
            &.hidden
                display: none
    &__more
        display: block
        max-width: 140px
        margin: 0 auto
        text-align: center
        color: $blue
        font-size: 16px
        position: relative
        &:after
            content: ''
            position: absolute
            bottom: -5px
            left: 0
            width: 100%
            height: 3px
            border-radius: 5px
            background: linear-gradient(to right, #CDE4FE 0%, $blue 100%)
        &:hover
            color: $blue
            text-decoration: none
    &__button
        appearance: none
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        border: none
        background: none
        font-size: 24px
        text-align: center
        line-height: 1
        cursor: pointer
        margin: 0 auto
        padding: 0
        img
            display: block
            width: 36px
            height: 36px
            object-fit: contain
            margin-top: 10px
            transition: all 0.3s ease
        &:hover
            img
                transform: translateY(10px)