.technic
    position: relative
    padding-top: 40px
    .block
        &__heading
            text-align: center
    &__bg
        background: url("../img/decors/technic__bg.svg")
        position: absolute
        top: -380px
        left: 50%
        transform: translateX(-1076px)
        width: 2340px
        height: 1202px
        z-index: -1
    &__img
        display: block
        margin-top: -150px - 100px
    &__question
        max-width: 300px
        margin: 0 auto 50px
        p
            background-color: $blue
            box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
            border-radius: 20px
            position: relative
            width: 100%
            padding: 23px 40px
            color: $white
            &:after
                content: ''
                width: 0
                height: 0
                border-style: solid
                position: absolute
                bottom: -19px
                right: 20px
                border-width: 20px 25px 0 0
                border-color: $blue transparent transparent transparent
        img
            display: block
            width: 92px
            height: 92px
            margin: 25px auto 0
    &__note
        background-color: $white
        box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
        border-radius: 20px
        position: relative
        margin: 30px auto 0
        padding: 20px 30px
        font-size: 18px
        max-width: 510px
        line-height: 1.3
        &:after
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 0 20px 25px 0
            border-color: transparent $white transparent transparent
            position: absolute
            bottom: 15px
            left: -19px
    .list
        list-style: none
        margin: 70px 0 0 20px
        padding: 0
        li
            display: flex
            align-items: center
            margin-bottom: 23px
            p
                margin: 0
                span
                    display: inline-block
                    color: $blue
                    position: relative
                    &:after
                        content: ''
                        position: absolute
                        bottom: -3px
                        left: 0
                        width: 100%
                        height: 3px
                        z-index: -1
                        border-radius: 5px
                        background: linear-gradient(to right, #CDE4FE 0%, $blue 100%)
            &:before
                content: ''
                display: block
                width: 23px
                height: 23px
                flex: 0 0 23px
                transform: rotate(-90deg)
                margin-right: 30px
                background: url('../img/icons/arrow__down.svg') no-repeat center center / 22px