.variants
    margin-top: 190px
    padding-bottom: 220px
    position: relative
    .block
        &__heading, &__desc
            text-align: center
        &__desc
            margin: 20px auto 70px
    &__bg
        background: url("../img/decors/variants__decor.svg")
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-46.5%)
        width: 2555px
        height: 865px
    &__teeth
        display: block
        width: 100%
        height: auto
        padding: 0 40px
    &__block
        box-shadow: 0px 10px 40px rgba(0,0,0,0.12)
        background-color: $white
        padding: 45px 55px
        margin-top: 40px
        min-height: 260px
        position: relative
        .content
            max-width: 160px
            margin: 0 0 0 auto
        .counter, .title
            display: block
            text-align: center
        .counter
            font-size: 100px
            color: $blue
            opacity: 0.2
            line-height: 1
            margin: -110px 0 0
        .title
            font-size: 36px
        .image, .arrow
            display: block
        .image
            margin: 30px auto 0
        &_left
            border-radius: 0 20px 20px 0
            margin-right: 40px
            margin-left: -375px
            .image
                width: 58px
                height: 77px
            .arrow
                position: absolute
                width: 240px
                height: 151px
                right: -200px
                bottom: -50px
        &_right
            border-radius: 20px 0 0 20px
            margin-left: 40px
            margin-right: -375px
            .content
                margin: 0 auto 0 0
            .image
                width: 43px
                height: 88px
            .arrow
                position: absolute
                width: 236px
                height: 56px
                left: -180px
                top: 80px
    &__nav
        list-style: none
        margin: 170px 0 0
        padding: 0
        display: flex
        justify-content: space-between
        li
            flex: 0 0 23%
            height: 136px
            background: linear-gradient(30deg, #b244ff 0%, #0078ff 50%, #00f6ff 100%)
            background-repeat: no-repeat
            background-size: 1200px
            border-radius: 20px
            a
                color: $white
                text-decoration: none
                text-align: center
                font-size: 24px
                font-weight: 500
                display: flex
                align-items: center
                justify-content: center
                position: relative
                height: 100%
                line-height: 1.3
                p
                    margin: 0
                    span
                        display: block
                        font-size: 18px
                &:before, &:after
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    border-radius: 20px
                &:before
                    background: url('../img/decors/variants__circles.svg') no-repeat center center / 90%
                &:after
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(255,255,255,1) 120%)
                    transition: all 0.3s ease
                &:hover
                    &:after
                        opacity: 0
            &:nth-child(2)
                background-position: -300px 0
            &:nth-child(3)
                background-position: -600px 0
            &:last-child
                background-position: -900px 0
    &__note
        margin: 55px auto 30px
        text-align: center
    &__dialogue
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-direction: column
        li
            display: flex
            div
                background-color: $white
                box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                border-radius: 30px
                position: relative
                margin: 0 auto
                padding: 37px 50px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 20px 25px 0
                    border-color: transparent $white transparent transparent
                    position: absolute
                    bottom: 25px
                    left: -20px
                p
                    font-weight: 500
                    line-height: 1.3
                    text-align: center
                    margin-bottom: 30px
                    span
                        color: $blue
                    &.heading
                        font-size: 24px
                        span
                            color: $black
                            display: inline-block
                            position: relative
                            &:after
                                content: ''
                                position: absolute
                                bottom: 4px
                                left: 0
                                width: 100%
                                max-width: 440px
                                height: 4px
                                z-index: 0
                                border-radius: 5px
                                background-color: #00D5FF
            &:nth-child(2)
                margin: -29px 0 0
                img
                    margin-bottom: 10px
                div
                    background-color: $blue
                    color: $white
                    border-radius: 20px
                    padding: 23px 20px
                    min-width: 280px
                    &:after
                        left: auto
                        right: -19px
                        bottom: 15px
                        border-width: 25px 20px 0 0
                        border-color: $blue transparent transparent transparent
                    p
                        margin: 0