.wear
    position: relative
    padding-top: 140px
    .block
        &__heading
            margin: 60px -90px 60px -40px
    &__bg
        background: url("../img/decors/wear__bg.svg")
        position: absolute
        top: 170px
        left: 50%
        transform: translateX(-1450px)
        width: 2572px
        height: 1265px
    .dialogue
        list-style: none
        margin: 0 auto 144px
        padding: 0
        display: flex
        max-width: 90%
        flex-direction: column
        li
            display: flex
            align-items: flex-end
            justify-content: center
            position: relative
            z-index: 1
            margin-bottom: 26px
            img
                display: block
                width: 92px
                height: 92px
                margin-left: 20px + 25px
            div
                background-color: $white
                box-shadow: 0px 17px 33px rgba(0,0,0,0.12)
                border-radius: 20px
                position: relative
                width: 100%
                padding: 23px 40px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 20px 25px 0
                    border-color: transparent $white transparent transparent
                    position: absolute
                    bottom: 25px
                    left: -20px
                b
                    font-size: 24px
                    line-height: 1.3
                p
                    font-weight: 500
                    line-height: 1.3
                    font-size: 18px
                    margin: 0
                    span
                        font-size: 24px
                    &.heading
                        font-size: 24px
                ul
                    list-style: none
                    margin: 35px 0
                    padding: 0
                    li
                        justify-content: flex-start
                        align-items: flex-start
                        margin-bottom: 10px
                        p
                            margin: 0
                            color: $gray-700
                        &:before
                            content: ''
                            display: block
                            width: 16px
                            height: 16px
                            margin-right: 20px
                            margin-top: 5px
                            background: url('../img/icons/cross.svg') no-repeat center center
            &.customer
                padding-left: 92px + 45px
                img
                    margin-bottom: 10px
                div
                    background-color: $blue
                    color: $white
                    &:after
                        left: auto
                        right: -19px
                        border-width: 25px 20px 0 0
                        border-color: $blue transparent transparent transparent
            &:last-child
                padding-right: 92px + 45px
                img
                    margin-left: 0
                    margin-right: 45px
    &__img
        display: block
        margin-bottom: -40px
    &__note
        text-align: center
        font-size: 24px
        margin: 0 40px 0 -15px
        background-color: $white
        border-radius: 20px
        padding: 30px 48px
        position: relative
        z-index: 1
        box-shadow: 0px 16px 32px rgba(0,0,0,0.12)
    &__text
        margin-left: -40px
        margin-right: -60px
        margin-bottom: 30px
        line-height: 1.3
        span
            color: $blue
        small
            display: block