.workflow
    position: relative
    padding-top: 230px
    z-index: 1
    .block
        &__heading
            text-align: center
            margin-bottom: 35px
    &__bg
        background: url("../img/decors/workflow__bg.svg")
        position: absolute
        top: 30px
        left: 50%
        transform: translateX(-960px)
        width: 1920px
        height: 934px
    &__container
        position: relative
        background-color: $white
        border-radius: 30px
        padding: 60px 30px
        margin: 0 -15px
        filter: drop-shadow(0px 20px 16px rgba(0,0,0,0.1))
        &:after
            content: ''
            width: 0
            height: 0
            border-style: solid
            border-width: 100px 570px 0 570px
            border-color: $white transparent transparent transparent
            position: absolute
            bottom: -100px
            left: 30px
        &_0-1
            .button
                background: linear-gradient(to right, #339B6A 0%, #B7E0BB 100%)
                box-shadow: 0px 12px 30px transparentize(#339B6A, 1 - 0.36)
                height: 44px
                max-width: 220px
                font-size: 18px
                font-weight: 700
                margin: 30px 0 0
                &:before
                    background: linear-gradient(to right, #B7E0BB 0%, #339B6A 100%)
            .workflow
                &__title
                    color: #339B6A
                &__block
                    margin-top: 60px
                    margin-bottom: -130px
                    position: relative
                    z-index: 1
                    p
                        text-align: center
                        color: #339B6A
                    img
                        display: block
                        width: 92px
                        height: 92px
                        margin: 0 auto
        &_0-2
            .workflow
                &__heading
                    margin-top: 100px
                &__title
                    color: $blue
                &__list
                    margin: 50px 50px 0 20px
                    li
                        img
                            width: 96px
                            height: 43px
                        &:first-child
                            flex: 0 0 45%
                            .content
                                .counter
                                    color: #9344FF
                        &:last-child
                            flex: 0 0 45%
                            .content
                                .counter
                                    color: #00C8FF
                                p
                                    span
                                        color: $blue
    &__heading
        text-align: center
        font-size: 24px
        font-weight: 500
    &__title
        text-align: center
    &__list
        list-style: none
        display: flex
        margin: 64px 0 0
        padding: 0
        justify-content: space-between
        li
            img
                display: block
                width: 71px
                height: 67px
                margin: 0 auto 25px
                object-fit: contain
            .content
                display: flex
                align-items: flex-start
                .counter
                    opacity: 0.4
                    font-size: 72px
                    line-height: 1
                    margin-top: -10px
                    margin-right: 15px
                    color: #73AE92
                p
                    margin: 0
                    line-height: 1.3
            &:first-child
                flex: 0 0 200px
                .content
                    .counter
                        margin-right: 27px
            &:nth-child(2)
                flex: 0 0 310px
            &:nth-child(3)
                flex: 0 0 243px
            &:last-child
                flex: 0 0 300px
    &_1
        position: relative
        padding-top: 170px
        &__bg
            background: url("../img/decors/workflow_1__bg.svg")
            position: absolute
            width: 2253px
            height: 988px
            top: 0
            left: 50%
            transform: translateX(-1150px)
        .workflow
            &__container
                z-index: 2
            &__cite
                background-color: $white
                border-radius: 20px
                position: relative
                margin: -100px auto 50px
                padding: 20px 30px
                font-size: 18px
                max-width: 440px
                line-height: 1.3
                border: 1px solid $blue
                &:before
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 20px 25px 0
                    border-color: transparent $blue transparent transparent
                    position: absolute
                    bottom: 15px
                    left: -20px
                &:after
                    content: ''
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 18px 23px 0
                    border-color: transparent $white transparent transparent
                    position: absolute
                    bottom: 16px
                    left: -18px
            &__heading
                span
                    display: block
                    font-size: 18px
            &__title
                color: $blue
            &__list
                li
                    img
                        width: 160px
                        height: 110px
                    &:first-child, &:nth-child(2), &:last-child
                        flex: 0 0 32%
                    &:first-child
                        img
                            width: 70px
                            height: 56px
                            margin: 30px auto 50px
                        .content
                            .counter
                                color: #9344FF
                                margin-right: 15px
                    &:nth-child(2)
                        .content
                            .counter
                                color: #0078FF
                    &:last-child
                        .content
                            .counter
                                color: #00C8FF
            &__note
                max-width: 440px
                margin: 15px auto -70px
                position: relative
                z-index: 1
                img
                    display: block
                    width: 42px
                    height: 72px
                    margin: 0 auto 16px
                p
                    line-height: 1.3
                    margin: 0
                    color: $blue
                    text-align: center
    &_2
        position: relative
        &__bg
            background: url("../img/decors/workflow_2__bg.svg")
            position: absolute
            width: 1920px
            height: 1053px
            top: 120px
            left: 50%
            transform: translateX(-960px)
        .workflow
            &__container
                z-index: 1
            &__heading
                margin-top: 100px
            &__title
                color: #339B6A
            &__list
                margin-left: 50px
                li
                    img
                        width: 79px
                        height: 79px
                    p
                        span
                            color: #339b6a
                    &:first-child
                        flex: 0 0 23%
                        .content
                            .counter
                                color: #339B6A
                                margin-right: 15px
                    &:nth-child(2)
                        flex: 0 0 31%
                        .content
                            .counter
                                color: #339B6A
                    &:last-child
                        flex: 0 0 35%
                        .content
                            .counter
                                color: #339B6A
            &__note
                max-width: 360px
                margin: 60px auto -130px
                position: relative
                z-index: 1
                p
                    text-align: center
                    color: #339B6A
                    line-height: 1.3
                img
                    display: block
                    width: 92px
                    height: 92px
                    margin: 0 auto
    &_3
        position: relative
        &__bg
            position: absolute
            width: 1920px
            height: 1053px
            top: 120px
            left: 50%
            transform: translateX(-960px)
        .workflow
            &__heading
                margin-top: 100px
                span
                    display: block
                    font-size: 18px
            &__title
                max-width: 550px
                margin: 0 auto
                color: $blue
                background: linear-gradient(to right, #7200FF, #00CCED)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
            &__list
                margin-left: 50px
                li
                    img
                        width: 80px
                        height: 87px
                    &:first-child
                        flex: 0 0 30%
                        .content
                            .counter
                                color: #9344FF
                                margin-right: 15px
                    &:nth-child(2)
                        flex: 0 0 30%
                        .content
                            .counter
                                color: #0078FF
                    &:last-child
                        flex: 0 0 30%
                        .content
                            .counter
                                color: #00C8FF
            &__note
                max-width: 360px
                margin: 60px auto -130px
                position: relative
                z-index: 1
                p
                    text-align: center
                    color: $blue
                    line-height: 1.3
                img
                    display: block
                    width: 57px
                    height: 59px
                    margin: 0 auto 10px