$drag-colour: #fff;

.cocoen {
  box-sizing: border-box;
  cursor: pointer;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  user-select: none;

  * {
    box-sizing: inherit;

    &::after,
    &::before {
      box-sizing: inherit;
    }
  }

  img,
  picture > img {
    max-width: none;
  }

  > img,
  > picture > img {
    display: block;
    width: 100%;
  }

  > div {
    &:first-child,
    picture & {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 50%;
    }
  }

  &-drag {
    background: $drag-colour;
    bottom: 0;
    cursor: ew-resize;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 2px;

    &::before {
      content: '';
      height: 27px;
      left: 50%;
      background-color: #fff;
      border-radius: 50%;
      margin-left: -13.5px;
      margin-top: -13.5px;
      position: absolute;
      top: 50%;
      width: 27px;
    }
    &::after {
      content: '';
      width: 19px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -9.5px;
      margin-top: -6px;
      background: url('../img/icons/arrow__sideways.svg') no-repeat center center / contain;
    }
  }
}
