@import "fonts"

html, body
    height: 100%
body
    display: flex
    flex-direction: column
    font: 18px 'Gilroy', sans-serif
h1,h2,h3,h4,h5,h6
    font: 36px 'Gilroy', sans-serif
    font-weight: 700
    display: block
.wrapper
    flex: 1 0 auto
    overflow-x: hidden
    width: 100%
    max-width: 1920px
    margin: 0 auto
.footer
    flex-shrink: 0

@import "slick"
@import "slick-theme"

@import "magnific-popup"
@import "cocoen"

@import "header"
@import "content"

@import "main-blocks/jumbotron"
@import "main-blocks/intro"
@import "main-blocks/variants"
@import "main-blocks/crowns"
@import "main-blocks/composite"
@import "main-blocks/math"
@import "main-blocks/client"
@import "main-blocks/multilayer"
@import "main-blocks/emax"
@import "main-blocks/compare"
@import "main-blocks/price"
@import "main-blocks/choice"
@import "main-blocks/meeting"

@import "main-blocks/wear"
@import "main-blocks/armor"
@import "main-blocks/workflow"
@import "main-blocks/technic"
@import "main-blocks/model"
@import "main-blocks/life"
@import "main-blocks/guarantee"
@import "main-blocks/notsure"
@import "main-blocks/reviews"
@import "main-blocks/consult"
@import "main-blocks/contacts"

@import "footer"

@import "media"