@font-face
    font-family: 'Gilroy'
    src: url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.eot') format('eot'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'Gilroy'
    src: url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.eot') format('eot'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype')
    font-weight: 600
    font-style: normal
@font-face
    font-family: 'Gilroy'
    src: url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.eot') format('eot'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
@font-face
    font-family: 'Gilroy'
    src: url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.eot') format('eot'),
    url('../fonts/Gilroy-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal
@font-face
    font-family: 'Gilroy'
    src: url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.eot') format('eot'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal
@font-face
    font-family: 'Gilroy'
    src: url('../fonts/Gilroy-MediumItalic.woff') format('woff'),
    url('../fonts/Gilroy-MediumItalic.eot') format('eot'),
    url('../fonts/Gilroy-MediumItalic.ttf') format('truetype')
    font-weight: 500
    font-style: italic