.footer
    position: relative
    padding: 27px 0
    margin-top: 50px
    background-color: $black
    &__brand
        display: flex
        align-items: center
        img
            display: block
            width: 170px
            height: auto
            margin-right: 13px
    &__creator
        display: flex
        align-items: center
        color: $white
        img
            width: 198px
            display: block
            height: auto
            margin-right: 12px
        p
            margin: 0
        &:hover
            color: $white
            text-decoration: none
        &:focus
            outline: 0
    &__callback
        display: flex
        flex-direction: column
        align-items: center
        .link
            display: flex
            align-items: center
            color: $white
            margin-bottom: 16px
            img
                display: block
                width: 13px
                height: 13px
                margin-right: 3px
            &:hover
                color: $white
                text-decoration: none
        .button
            height: 34px
            max-width: 206px
            font-size: 18px