.button
    appearance: none
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 40px
    background: linear-gradient(to right, #0078FF, #00CCED)
    box-shadow: 0px 12px 30px transparentize(#00A2FF, 1 - 0.36)
    color: $white
    height: 68px
    width: 100%
    font-size: 24px
    text-align: center
    line-height: 1
    transition: all 0.3s ease
    cursor: pointer
    position: relative
    p
        position: relative
        z-index: 1
        margin: 0
    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 40px
        background: linear-gradient(to right, #00CCED, #0078FF)
        transition: all 0.6s ease
        opacity: 0
    &:hover
        color: $white
        text-decoration: none
        &:before
            opacity: 1
    &:focus
        outline: 0
.header
    height: auto
    position: fixed
    width: 100%
    max-width: 1920px
    top: 0
    z-index: 11
    background-color: $white
    box-shadow: 0px 2px 13px rgba(0,0,0,0.1)
    .navbar-brand
        padding: 0
        margin: 0
        display: flex
        align-items: center
        img
            width: 170px
            height: auto
        &:focus
            outline: 0
    &__navbar
        flex-direction: column
        align-items: center
        padding: 35px 0
        margin: 0 -15px
    &__top
        display: flex
        flex-wrap: wrap
    &__title
        margin-left: 20px
        p
            margin: 0
            font-weight: 500
            font-size: 24px
            letter-spacing: 2px
            font-style: italic
    &__contacts
        margin-left: auto
        min-width: 782px
        ul
            list-style: none
            margin: 0
            padding: 0
            display: flex
            justify-content: space-between
            li
                display: flex
                align-items: center
                img
                    display: block
                    width: 20px
                    height: 20px
                    margin-right: 14px
                a,p
                    display: block
                    color: $blue
                    margin: 0
    .navbar-toggler[aria-expanded=false]
        .navbar-toggler-icon
            background: url("../img/menu__icon.svg") no-repeat center center
            width: 34px
            height: 22px
    .navbar-toggler-icon
        background: url("../img/menu__icon.svg") no-repeat center center
        width: 34px
        height: 22px
    .navbar-toggler
        border: none
        margin-top: -4px
        &:focus
            outline: 0
    .navbar-collapse
        flex: 0 0 100%
    .navbar-nav
        margin-left: auto
        width: 779px
        margin-top: -20px
        justify-content: space-between
        .nav-item
            display: flex
            align-items: center
            justify-content: center
            padding: 0 20px
            border-right: 1px solid $gray-400
            flex: 1 1 auto
            .nav-link
                padding: 0
                text-align: center
                position: relative
                color: $black
                transition: all 0.3s ease
                &:after
                    content: ''
                    width: 100%
                    position: absolute
                    left: 0
                    bottom: -10px
                    height: 4px
                    border-radius: 4px
                    background: linear-gradient(to right, #0078FF, #00EAED)
                    transition: all 0.3s ease
                    transform: scaleX(0)
                &:hover, &.active
                    color: $black
                    &:after
                        transform: scaleX(1)
            &:first-child
                padding-left: 0
                justify-content: flex-start
                .nav-link
                    text-align: left
            &:last-child
                padding-right: 0
                border-right: 0
                justify-content: flex-end
                .nav-link
                    text-align: right