@media (min-width: 1200px)
    .container
        max-width: 1200px
@media (min-width: 992px) and (max-width: 1199px)
    .block
        &__heading
            font-size: 28px
    .header
        &__contacts
            min-width: 720px
        &__title
            margin-left: 15px
            p
                font-size: 22px
        .navbar-nav
            width: 718px
            .nav-item
                padding: 0 10px
    .intro
        &__image
            margin-top: 160px
            width: 430px
        &__text
            br
                display: none
        .button
            max-width: 150px
    .variants
        &__block
            &_left
                margin-left: -150px
                .content
                    margin-right: -30px
            &_right
                margin-right: -150px
                .content
                    margin-left: -30px
        &__teeth
            padding: 0
    .crowns
        &__img
            width: 100%
            margin-bottom: 155px
            transform: rotate(2deg)
    .composite
        &__img
            width: 494px
            margin-top: -410px
            margin-left: -110px
    .emax-cheaper
        &__bg
            top: 175px
    .client
        .block
            &__heading
                max-width: 410px
    .multilayer
        &__img
            margin-left: 14px
    .emax
        &__letters
            margin: -100px auto -100px
            font-size: 520px
        &__bg
            top: 320px
    .emax-color
        padding-top: 260px
    .emax-features
        .block
            &__heading
                max-width: 245px
    .wear
        &__img
            width: 100%
            margin-left: -15px
        &__text
            margin-right: auto
            br
                display: none
        .block
            &__heading
                margin: 60px auto 60px -40px
                br
                    display: none
    .armor
        .block
            &__heading
                span
                    max-width: 520px
    .workflow
        &__list
            li
                .content
                    p
                        br
                            display: none
                &:first-child, &:nth-child(2), &:nth-child(3), &:last-child
                    flex: 0 0 24%
        &__container
            &_0-1
                .button
                    margin: 70px 0 0
            &:after
                border-width: 100px 450px 0 450px
    .technic
        &__img
            margin-top: -225px
            transform: rotate(4deg)
    .contacts
        &__map
            margin-top: -36px
            width: 450px
            height: 450px
@media (min-width: 768px) and (max-width: 991px)
    .input
        &__border
            margin-bottom: 50px
    .block
        &__heading
            font-size: 31px
    .header
        &__title
            display: flex
            align-items: center
            p
                br
                    display: none
        &__top
            width: 100%
        &__navbar
            padding: 18px 0
        &__contacts
            min-width: 0
            margin-top: 15px
            ul
                flex-direction: column
                justify-content: center
                align-items: center
                li
                    margin-bottom: 10px
        .navbar-toggler
            margin-left: auto
        .navbar-nav
            width: 100%
            margin: 0 auto
            .nav-item
                justify-content: center !important
                padding: 0
                border: none
                margin-bottom: 15px
    .jumbotron
        margin-top: 102px
        .button
            width: 380px
        &__desc
            font-size: 22px
        &__price
            max-width: 330px
            span
                font-size: 82px
    .intro
        &__bg
            top: 330px
        &__feelings
            p
                font-size: 20px
                br
                    display: none
        &__heading
            font-size: 31px
        &__image
            width: 400px
            margin-top: 130px
            margin-left: -100px
        &__note
            max-width: 410px
            transform: translateX(-265px)
    .variants
        &__block
            .title
                font-size: 28px
            &_left
                margin-left: -150px
                margin-right: 20px
                .content
                    margin-right: -50px
                .arrow
                    right: -120px
                    bottom: -10px
                    transform: rotate(-40deg)
            &_right
                margin-right: -150px
                margin-left: 20px
                .content
                    margin-left: -50px
                .arrow
                    left: -140px
                    transform: rotate(30deg)
        &__teeth
            padding: 0
        &__nav
            li
                height: 116px
                a
                    font-size: 18px
                    &:before
                        background-size: 125%
    .crowns
        &__img
            width: 100%
            margin-bottom: 264px
        &__dialogue
            margin: 0 0 0 -35px
            li
                img
                    width: 62px
                    height: 62px
    .composite
        &__img
            position: absolute
            top: -480px
            left: -205px
            margin: 0
    .emax-cheaper
        &__bg
            top: 185px
    .client
        .block
            &__heading
                max-width: 460px
    .multilayer
        &__img
            margin: -118px 0 0 -107px
        .dialogue
            margin-right: 0
            li
                &:first-child
                    div
                        max-width: 270px
    .emax
        &__letters
            margin: -100px auto -100px
            font-size: 460px
        &__bg
            top: 280px
        &__container
            padding: 70px 35px
    .emax-color
        padding-top: 175px
        &__img
            width: 100%
    .emax-features
        .block
            &__heading
                max-width: 270px
        .button
            margin: 40px auto 10px
        &__bg
            top: 0
        &__container
            padding: 30px
    .price
        &__gradient
            font-size: 84px
        &__img
            margin-left: -200px
    .choice
        .block
            &__heading
                margin-top: 0
                br
                    display: none
        .list
            li
                flex: 0 0 30%
                img
                    margin: 0 auto
    .wear
        &__img
            width: 100%
            margin-left: -20px
        &__text
            margin-right: auto
            br
                display: none
        &__note
            font-size: 18px
            padding: 20px
        .block
            &__heading
                margin: 60px auto 60px -40px
                br
                    display: none
        .dialogue
            max-width: 100vw
            li
                div
                    p
                        font-size: 17px
                    ul
                        li
                            padding: 0 !important
                            &:before
                                flex: 0 0 16px
    .armor
        padding-top: 106px
        .block
            &__heading
                font-size: 29px
                max-width: 540px
                margin: 0 auto 50px
                span
                    max-width: 540px
    .workflow
        &__list
            flex-wrap: wrap
            li
                margin-bottom: 40px
                .content
                    p
                        br
                            display: none
                &:first-child, &:nth-child(2), &:nth-child(3), &:last-child
                    flex: 0 0 48%
        &__container
            &_0-1
                .button
                    margin: 10px 0 0
            &:after
                border-width: 100px 330px 0 330px
    .technic
        .block
            &__heading
                text-align: left
                margin-left: 150px
        &__img
            margin-top: -255px
            transform: rotate(4deg)
    .workflow_2
        .workflow
            &__list
                margin-left: 0px
    .workflow_3
        .workflow
            &__list
                margin-left: 0px
    .guarantee
        .block
            &__heading
                max-width: 300px
    .consult
        padding-bottom: 0
        .block
            &__heading
                margin-bottom: 400px
        &__bg
            width: 992px
            height: 640px
            bottom: auto
            top: 400px
            background-repeat: no-repeat
            background-size: contain
            transform: translateX(-497px)
    .contacts
        &__map
            margin-top: -35px
            width: 100%
            height: 475px
    .footer
        &__callback
            .link
                font-size: 16px
            .button
                font-size: 16px
        &__creator
            img
                width: 180px
@media (min-width: 576px) and (max-width: 767px)
    p
        font-size: 16px
    .input
        &__border
            margin-bottom: 50px
    .block
        &__heading
            font-size: 24px
        &__desc
            font-size: 18px
    .header
        &__title
            display: flex
            align-items: center
            p
                br
                    display: none
        &__top
            width: 100%
        &__navbar
            padding: 18px 0
        &__contacts
            min-width: 0
            margin-top: 15px
            ul
                flex-direction: column
                justify-content: center
                align-items: center
                li
                    margin-bottom: 10px
        .navbar-toggler
            margin-left: auto
        .navbar-nav
            width: 100%
            margin: 0 auto
            .nav-item
                justify-content: center !important
                padding: 0
                border: none
                margin-bottom: 15px
    .jumbotron
        margin-top: 93px
        padding-top: 35px
        background-size: 1450px
        h1
            font-size: 32px
        .button
            width: 100%
        &__image
            width: 75%
            min-height: 100px
            margin: 0 auto
            transform: rotate(2deg)
        &__desc
            font-size: 21px
            text-align: center
        &__price
            margin: 54px auto 0
            text-align: center
        &__list
            margin: 53px auto 0
            flex-wrap: wrap
            li
                flex: 0 0 49%
                margin-bottom: 10px
    .intro
        padding-top: 60px
        .button
            margin: 73px auto 0
            div
                display: none
        .iphone
            display: none
        .dialogue
            margin-top: 127px
            li
                width: 100%
                margin: 0 auto 15px !important
                img
                    display: none
                div
                    margin: 0 !important
                    width: 100%
                    min-width: 0 !important
                    b
                        font-size: 16px
                    p
                        font-size: 14px
                        br
                            display: none
                        &.heading
                            font-size: 18px
                &:nth-child(2)
                    div
                        p
                            font-size: 16px
                        &:after
                            bottom: 20px
                            right: -18px
                &:last-child
                    div
                        p
                            &.heading
                                font-size: 18px
        &__bg
            background: url("../img/decors/intro__bg_mobile.svg") no-repeat center center / 100vw 100%
            width: 100%
            height: 480px
            left: 0
            top: auto
            bottom: -40px
            transform: none
        &__image
            margin: 0 auto
            width: 100%
            min-height: 100px
        &__doctor
            max-width: 100%
        &__feelings
            margin-bottom: 55px
            img
                width: 60px
                height: 68px
                flex: 0 0 60px
                margin-right: 12px
            p
                font-size: 16px
                br
                    display: none
        &__heading
            font-size: 24px
            &:after
                height: 4px
                max-width: 303px
        &__text
            font-size: 14px
            br
                display: none
        &__note
            margin: 0 auto 30px
            max-width: 100%
            font-size: 14px
            padding: 20px 28px
            text-align: center
    .variants
        padding-top: 60px
        padding-bottom: 40px
        margin-top: 40px
        .block
            &__desc
                text-align: left
        &__bg
            background: url("../img/decors/variants__decor_mobile.svg") no-repeat / 100vw 100%
            width: 100%
            height: 680px + 60px
            left: 0
            top: auto
            bottom: 0px
            transform: none
        &__block
            background: none
            box-shadow: none
            margin: 0
            padding: 0
            .counter
                font-size: 72px
                margin: 0px 0 -50px
            .title
                font-size: 21px
            .content
                max-width: 100%
            &_left
                .arrow
                    transform: rotate(90deg)
                    right: auto
                    left: 0
                    bottom: -100px
                    z-index: 1
            &_right
                .arrow
                    width: 240px
                    height: 151px
                    object-fit: contain
                    transform: rotate(-90deg) scaleY(-1)
                    left: auto
                    right: -50px
                    top: auto
                    bottom: -120px
        &__teeth
            margin-top: -50px
            min-height: 100px
            padding: 0
        &__nav
            margin: 110px 0 0
            flex-wrap: wrap
            li
                flex: 0 0 49%
                height: 89px
                margin-bottom: 10px
                a
                    font-size: 16px
                    p
                        span
                            font-size: 14px
        &__note
            margin: 20px 0 50px
        &__dialogue
            li
                div
                    padding: 20px
                    p
                        font-size: 14px
                        margin-bottom: 20px
                        &.heading
                            font-size: 18px
                            span
                                &:after
                                    bottom: 0
                &:first-child
                    div
                &:nth-child(2)
                    margin: 20px 0 0
    .crowns
        margin-top: 50px
        &__bg
            background: url("../img/decors/crowns__decor_mobile.svg") no-repeat / 100vw 100%
            width: 100%
            height: 1180px + 210px
            left: 0
            top: 353px
            transform: none
        &__counter
            b
                font-size: 72px
            p
                font-size: 18px
                margin: -48px 0 30px
        &__img
            width: 100%
            margin: 0 auto 32px
        &__note
            margin: 15px 0 30px 0
        &__text
            font-size: 14px
            margin-bottom: 25px
            br
                display: none
            span
                font-size: 18px
        &__dialogue
            margin: 0 auto 0
            li
                margin-bottom: 0
                div
                    max-width: 100%
                    p
                        font-size: 14px
                        br
                            display: none
                        &.heading
                            font-size: 18px
    .composite
        padding-top: 53px
        .list
            li
                p
                    font-size: 14px
        &__img
            width: 100%
            margin: -130px auto 0
        &__text
            b
                font-size: 16px
                display: inline
        &__note
            margin: 30px 0 40px 0
        &__summary
            margin: 0
            img
                display: none
            div
                b
                    font-size: 21px
    .math
        margin: 0
        padding-top: 69px
        padding-bottom: 39px
        &__container
            padding: 0
            margin: 0
            box-shadow: none
        &__note
            max-width: 100vw
            margin: -25px -30px 5px
    .emax-cheaper
        .block
            &__heading
                margin-bottom: 48px
        &__bg
            display: none
        &__block
            margin-bottom: 24px
            position: relative
            b
                margin: 12px auto 12px
            &:before
                content: ''
                width: 120vw
                height: 110px + 24px
                background-color: transparentize($blue, 0.8)
                position: absolute
                top: -12px
                left: -20vw
                z-index: -1
            &_right
                &:before
                    background-color: transparentize($red, 0.8)
    .client
        padding-top: 67px - 24px
        .block
            &__heading
                max-width: 352px
        &__bg
            background: url("../img/decors/client__bg_mobile.svg")
            top: 180px
            width: 100vw
            height: 1407px + 140px
            left: 0
            transform: none
        &__messenger
            box-shadow: none
            margin: 0 auto
            .bottom
                display: none
            &_right
                margin-top: -60px
                .top
                    display: none
                .bottom
                    display: block
        &__note
            padding: 28px 22px
            max-width: 340px
            margin: 30px auto 0
            p
                text-align: left
                font-size: 18px
    .multilayer
        .block
            &__heading
                span
                    font-size: 18px
        .list
            margin: 0
            &-pre
                margin-left: 35px
        .dialogue
            margin: 40px auto 0
            li
                div
                    max-width: 340px
                    padding: 15px 17px
                    margin: 0 auto
                    p
                        font-size: 14px
                &:nth-child(2)
                    img
                        margin: 40px auto 20px
                    div
                        margin: 0 auto
        &__bg
            background: url("../img/decors/multilayer__bg_mobile.svg")
            top: 418px
            width: 100vw
            height: 1468px + 660px
            left: 0
            transform: none
        &__img
            margin: 0 0 50px 55px
            transform: rotate(5deg)
        &__text
            br
                display: none
            &-pre
                margin: 10px 55px -100px auto
                font-size: 20px
    .emax
        padding-top: 100px
        &__letters
            display: none
        &__bg
            width: 100vw
            height: 100vw
            top: 46px
            left: 0
            transform: none
        &__desc
            font-size: 21px
            max-width: 300px
            span
                &:after
                    height: 3px
                    bottom: 0
        &__list
            flex-direction: column
            margin-bottom: 0
            li
                flex: 0 0 auto
                margin-bottom: 60px
                b
                    font-size: 21px
                &:last-child
                    margin-bottom: 0
    .emax-color
        padding-top: 66px
        &__img
            width: 100%
            transform: none
            margin: 38px auto 0
        &__block
            margin-bottom: 50px
            .arrow
                width: 88px
                height: 288px
                flex: 0 0 288px
                position: absolute
                left: 0
                top: 50px
            &:before
                content: ''
                width: 120vw
                height: 181px
                background-color: transparentize($red, 0.8)
                position: absolute
                left: -20vw
                top: -20px
                z-index: -1
            &_right
                .arrow
                    left: auto
                    right: 0
                    top: -130px
                &:before
                    background-color: transparentize($blue, 0.8)
    .emax-features
        padding-top: 46px
        .block
            &__heading
                max-width: 210px
        .button
            margin: 60px auto
        &__bg
            display: none
        &__container
            margin: 0
            padding: 0
            .list
                flex-direction: column
                li
                    flex: 0 0 auto
                    margin-bottom: 60px
                    b
                        font-size: 21px
    .compare
        background: url('../img/decors/compare__bg.svg') no-repeat center top / 100vw
        padding-bottom: 60px
        .block
            &__desc
                margin: 40px auto 60px
        &__blocks
            li
                flex: 0 0 100%
    .price
        margin-top: -50px
        background: url('../img/decors/price__bg_mobile.svg') no-repeat center top / 100vw 600px
        .block
            &__heading
                text-align: center
        .iphone
            display: none
        .dialogue
            margin: 70px auto 120px
            li
                align-items: center
                flex-direction: column
                transform: none !important
                img
                    order: 0
                div
                    order: 1
                    b
                        font-size: 18px
                    p
                        font-size: 14px
                &.customer
                    img
                        margin: 0 auto 10px
                    div
                        &:after
                            bottom: 15px
                &:nth-child(4)
                    margin-top: 0
        &__bg
            display: none
        &__icon
            margin: 30px auto 40px
        &__gradient
            text-align: center
        &__text
            text-align: center
            font-size: 21px
        &__img
            width: 100%
            min-height: 100px
            margin: 30px auto 0
    .choice
        padding-bottom: 40px
        .block
            &__heading
                text-align: center
                font-size: 36px
                margin-bottom: 30px
        .list
            flex-direction: column
            li
                flex: 0 0 auto
                margin-bottom: 50px
                .counter
                    b
                        font-size: 64px
                    p
                        margin: -45px 0 30px
                img
                    margin: 0 auto
        &__container
            padding: 0
            box-shadow: none
    .meeting
        z-index: 1
        .form
            margin-top: 58px
            border-radius: 0
        &__bg
            display: none
    .wear
        background: url('../img/decors/wear__bg_mobile.svg') no-repeat center top / 100vw 660px
        .block
            &__heading
                margin: 0px auto 60px
                text-align: center
        .dialogue
            max-width: 100vw
            margin: 0 auto 60px
            li
                flex-direction: column
                div
                    order: 0
                    p
                        font-size: 16px
                        &.heading
                            font-size: 18px
                        span
                            font-size: 16px
                    ul
                        li
                            margin-bottom: 15px
                            &:before
                                display: none
                img
                    order: 1
                &.customer
                    padding: 0
                    img
                        display: none
                &:last-child
                    padding: 0
                    img
                        margin: 30px auto 0
        &__bg
            display: none
        &__text
            margin: 0 auto 30px
        &__img
            width: 100%
            margin: 0 auto -40px
        &__note
            margin: 0 auto 0
            font-size: 16px
            padding: 15px 25px
            font-weight: 700
    .armor
        padding-top: 65px
        .block
            &__heading
                max-width: 290px
                margin: 0 auto 50px
                span
                    display: inline
                    &:after
                        width: 290px
                        left: -105px
        .list
            align-items: flex-start
            li
                img
                    margin-right: 15px
        &__img
            width: 100%
    .workflow
        padding-top: 90px
        .button
            margin: 0 auto
        &__bg
            display: none
        &__container
            margin: 0
            padding: 0
            filter: none
            &:after
                display: none
            &_0-1
                .workflow
                    &__block
                        margin: 0
        &__list
            flex-direction: column
            margin: 50px auto 0 !important
            li
                flex: 0 0 auto !important
                margin-bottom: 50px
                .content
                    p
                        br
                            display: none
    .technic
        padding: 0
        .list
            margin: 30px auto 0
        &__bg
            background: url("../img/decors/technic__bg_mobile.svg")
            width: 100vw
            height: 1100px
            top: auto
            bottom: -630px
            left: 0
            transform: none
            z-index: 0
        &__question
            max-width: 230px
            p
                padding: 23px 15px
                text-align: center
        &__img
            margin: 30px auto 0
            position: relative
            z-index: -1
    .model
        padding-top: 30px
        .dialogue
            margin: 0 auto 110px
            li
                flex-direction: column
                div
                    order: 0
                    padding: 20px 10px !important
                    p
                        font-size: 14px
                        margin: 0 0 20px
                        &:last-child
                            margin: 0
                img
                    order: 1
                    margin: -20px auto 0
                    width: 309px
                    height: 309px
                &.customer
                    padding: 0
                &:last-child
                    transform: none
        &__bg
            display: none
    .workflow_1
        padding-top: 0
        &__bg
            display: none
        .workflow
            &__container
                display: flex
                flex-direction: column
            &__cite
                order: 2
                margin: 10px auto 0px
            &__heading
                order: 0
            &__title
                order: 1
            &__list
                order: 3
                li
                    margin-bottom: 30px
            &__note
                order: 4
                margin-bottom: 0
    .workflow_2
        &__bg
            display: none
        .workflow
            &__heading
                margin-top: 80px
            &__note
                margin: 0 auto 0
    .workflow_3
        .workflow
            &__title
                max-width: 200px
                line-height: 1
                background: linear-gradient(170deg, #7200FF, #00CCED)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
            &__list
                li
                    margin-bottom: 20px
            &__note
                margin: 0 auto
    .life-change
        padding-top: 60px
        padding-bottom: 80px
        background: url('../img/decors/life-change__bg_mobile.svg') no-repeat center bottom / 100vw 370px
        .block
            &__heading
                max-width: 260px
                margin: 0 auto
                br
                    display: none
                span
                    &:after
                        left: -60px
                        width: 140px
        .list
            align-items: flex-start
            li
                width: 100% !important
        .dialogue
            li
                transform: none !important
                div
                    width: 100%
                    padding: 20px
                    min-width: 0 !important
                    p
                        font-size: 16px
                        br
                            display: none
                        &.heading
                            font-size: 21px
                img
                    display: none
        &__bg
            display: none
    .guarantee
        padding-top: 50px
        .block
            &__heading
                max-width: 235px
                margin-bottom: 20px
            &__desc
                font-size: 21px
        &__bg
            display: none
        &__image
            img
                width: 100%
    .guarantee-reason
        margin-top: 60px
        padding: 45px 0
        background: url('../img/decors/guarantee-reason__bg_mobile.svg') no-repeat center top / 100vw 100%
        .dialogue
            li
                img
                    display: none
                div
                    padding: 20px
                    b
                        font-size: 24px
                    p
                        font-size: 14px
                        br
                            display: none
                &.customer
                    div
                        p
                            font-size: 16px
                        &:after
                            border-width: 25px 20px 0 0
                            border-color: $blue transparent transparent transparent
                            top: auto
                            bottom: 20px
                            right: -19px
        &__bg
            display: none
    .not-sure
        margin-top: 0
        img
            width: 100%
            margin: 0 auto
        .block
            &__desc
                span
                    font-size: 21px
        &__cite
            font-size: 16px
    .reviews
        padding: 50px 0
        background: url('../img/decors/reviews__bg_mobile.svg') no-repeat center top / 330vw 100%
        .block
            &__heading
                margin: 20px auto
        &__bg
            display: none
        &__button
            display: none
        &__blocks
            margin: 0
            li
                flex: 0 0 100%
                &.hidden
                    display: block
            .slick-slide
                margin: 60px 20px 30px
                box-shadow: none
            .slick-dots
                li
                    padding: 0
                    margin: 0 5px
                    background: none
                    box-shadow: none
                    border: 2px solid $white
                    button
                        display: none
                    &.slick-active
                        background-color: $white
    .consult
        padding: 60px 0 0
        .block
            &__desc
                font-size: 21px
                margin-bottom: 40px
            &__heading
                margin-bottom: calc(310px + 30vw)
        .form
            margin: 0 auto
            box-shadow: none
            padding: 0
        &__bg
            bottom: auto
            top: 220px
            width: 100vw
            height: 450px
            left: 0
            transform: none
            background-size: contain
            background-repeat: no-repeat
    .contacts
        .block
            &__heading
                font-size: 36px
        &__map
            margin: 0 auto 80px
            width: 510px
            height: 510px
            box-shadow: none
            ymaps
                border-radius: 0
            img
                border-radius: 0
        &__link
            padding: 0
            align-items: center
            box-shadow: none
@media (max-width: 575px)
    p
        font-size: 16px
    .input
        &__border
            margin-bottom: 50px
    .block
        &__heading
            font-size: 22px
        &__desc
            font-size: 18px
    .header
        &__title
            display: flex
            align-items: center
            margin-left: 10px
            p
                font-size: 20px
                br
                    display: none
        &__top
            width: 100%
        &__navbar
            padding: 18px 0
        &__contacts
            min-width: 0
            margin-top: 15px
            ul
                flex-direction: column
                justify-content: center
                align-items: center
                li
                    margin-bottom: 10px
        .navbar-brand
            margin-left: 15px
            img
                width: 100px
        .navbar-toggler
            margin-left: auto
        .navbar-nav
            width: 100%
            margin: 15px auto 0
            .nav-item
                justify-content: center !important
                padding: 0
                border: none
                margin-bottom: 15px
    .jumbotron
        margin-top: 75px
        padding-top: 35px
        background-size: 1100px
        h1
            font-size: 30px
            margin: 0 auto 0
            min-height: 135px
            br
                display: none
        .button
            width: 100%
        &__image
            width: 232px
            min-height: 100px
            margin: 0 auto
            transform: rotate(2deg)
        &__desc
            font-size: 21px
            text-align: center
        &__price
            margin: 54px auto 0
            text-align: center
            span
                font-size: 72px
        &__list
            margin: 53px auto 0
            flex-wrap: wrap
            li
                flex: 0 0 49%
                margin-bottom: 10px
                img
                    width: 32px
                    height: 32px
                    margin-bottom: 15px
                p
                    font-size: 14px
    .intro
        padding-top: 60px
        .button
            margin: 73px auto 0
            div
                display: none
        .iphone
            display: none
        .dialogue
            margin-top: 127px
            li
                width: 100%
                margin: 0 auto 15px !important
                img
                    display: none
                div
                    margin: 0 !important
                    width: 100%
                    padding: 20px !important
                    min-width: 0 !important
                    b
                        font-size: 16px
                    p
                        font-size: 14px
                        br
                            display: none
                        &.heading
                            font-size: 18px
                    &:after
                        left: -12px
                &:nth-child(2)
                    div
                        p
                            font-size: 16px
                        &:after
                            bottom: 18px
                            right: -12px
                &:last-child
                    div
                        p
                            &.heading
                                font-size: 18px
        &__bg
            background: url("../img/decors/intro__bg_mobile.svg") no-repeat center center / 100vw 100%
            width: 100%
            height: calc(580px - 20vw)
            left: 0
            top: auto
            bottom: -40px
            transform: none
        &__image
            margin: 0 auto
            width: 100%
            min-height: 100px
        &__doctor
            max-width: 100%
            padding: 15px 0
        &__feelings
            margin-bottom: 55px
            img
                width: 60px
                height: 68px
                flex: 0 0 60px
                margin-right: 12px
            p
                font-size: 16px
                br
                    display: none
        &__heading
            font-size: 22px
            &:after
                height: 4px
                max-width: 290px
        &__text
            font-size: 14px
            br
                display: none
        &__note
            margin: 0 auto 30px
            max-width: 100%
            font-size: 14px
            padding: 20px 28px
            text-align: center
            br
                display: none
    .variants
        padding-top: 60px
        padding-bottom: 40px
        margin-top: 40px
        .block
            &__desc
                text-align: left
        &__bg
            background: url("../img/decors/variants__decor_mobile.svg") no-repeat / 100vw 100%
            width: 100%
            height: calc(980px - 50vw)
            left: 0
            top: auto
            bottom: 0px
            transform: none
        &__block
            background: none
            box-shadow: none
            margin: 0
            padding: 0
            .counter
                font-size: 72px
                margin: 0px 0 -50px
            .title
                font-size: 21px
            .content
                max-width: 100%
            .arrow
                display: none
        &__teeth
            margin: -50px auto 0
            min-height: 100px
            padding: 0
        &__nav
            margin: 110px 0 0
            flex-wrap: wrap
            li
                flex: 0 0 49%
                height: 89px
                margin-bottom: 10px
                a
                    font-size: 16px
                    p
                        span
                            font-size: 14px
        &__note
            margin: 20px 0 50px
            br
                display: none
        &__dialogue
            li
                div
                    padding: 20px
                    p
                        font-size: 14px
                        margin-bottom: 20px
                        br
                            display: none
                        &.heading
                            font-size: 18px
                            span
                                &:after
                                    bottom: 0
                    &:after
                        left: -12px
                &:nth-child(2)
                    margin: 20px 0 0
                    div
                        width: 100%
                        &:after
                            right: -14px
    .crowns
        margin-top: 50px
        &__bg
            background: url("../img/decors/crowns__decor_mobile.svg") no-repeat / 100vw 100%
            width: 100%
            height: calc(1310px - 50vw)
            left: 0
            top: 243px
            transform: none
        &__counter
            b
                font-size: 72px
            p
                font-size: 18px
                margin: -48px 0 30px
        &__img
            width: 290px
            margin: 0 auto 32px
            transform: rotate(1deg)
        &__note
            margin: 15px 0 30px 0
            &:after
                left: -12px
        &__text
            font-size: 14px
            margin-bottom: 25px
            br
                display: none
            span
                font-size: 18px
        &__dialogue
            margin: 0 auto 0
            li
                margin-bottom: 0
                img
                    width: 50px
                    height: 50px
                div
                    max-width: 100%
                    width: 100%
                    padding: 17px !important
                    p
                        font-size: 14px
                        br
                            display: none
                        &.heading
                            font-size: 18px
                    &:after
                        left: -12px
                &:first-child
                    div
                        &:after
                            right: -14px
    .composite
        padding-top: 53px
        .list
            li
                p
                    font-size: 14px
        &__img
            width: 290px
            margin: -60px auto 0
        &__text
            b
                font-size: 16px
                display: inline
        &__note
            margin: 30px 0 40px 0
            padding: 20px
            br
                display: none
            &:after
                left: -14px
        &__summary
            margin: 0
            img
                display: none
            div
                b
                    font-size: 21px
    .math
        margin: 0
        padding-top: 69px
        padding-bottom: 39px
        &__container
            padding: 0
            margin: 0
            box-shadow: none
        &__note
            max-width: 100vw
            margin: -25px -15px 5px
        &__text
            font-size: 14px
            margin-bottom: 25px
    .emax-cheaper
        .block
            &__heading
                margin-bottom: 48px
        &__bg
            display: none
        &__block
            margin-bottom: 24px
            position: relative
            b
                margin: 12px auto 12px
            &:before
                content: ''
                width: 120vw
                height: 110px + 24px
                background-color: transparentize($blue, 0.8)
                position: absolute
                top: -12px
                left: -20vw
                z-index: -1
            &_right
                &:before
                    background-color: transparentize($red, 0.8)
    .client
        padding-top: 67px - 24px
        .block
            &__heading
                max-width: 290px
                &:after
                    width: 130px
                    left: 80px
        &__bg
            background: url("../img/decors/client__bg_mobile.svg")
            top: 210px
            width: 100vw
            height: 1370px
            left: 0
            transform: none
        &__messenger
            box-shadow: none
            margin: 0 auto
            width: 100%
            max-width: 290px
            .bottom
                display: none
                img
                    width: 100%
            .center
                img
                    width: 100%
            &_right
                margin-top: -60px
                .top
                    display: none
                .bottom
                    display: block
        &__note
            padding: 28px 22px
            max-width: 340px
            margin: 30px auto 0
            p
                text-align: left
                font-size: 18px
            &:after
                left: -14px
    .multilayer
        .block
            &__heading
                span
                    font-size: 18px
        .list
            margin: 0
            &-pre
                margin-left: 35px
        .dialogue
            margin: 40px auto 0
            li
                div
                    max-width: 340px
                    padding: 15px 17px
                    margin: 0 auto
                    p
                        font-size: 14px
                    &:after
                        left: -14px
                &:nth-child(2)
                    img
                        margin: 40px auto 20px
                    div
                        margin: 0 auto
        &__bg
            background: url("../img/decors/multilayer__bg_mobile.svg")
            top: 418px
            width: 100vw
            height: 1468px
            height: calc(1468px + 5vw)
            left: 0
            transform: none
        &__img
            margin: 30px auto 30px auto
            transform: rotate(5deg)
            width: 244px
        &__text
            br
                display: none
            &-pre
                margin: 10px -10px -100px auto
                font-size: 20px
    .emax
        padding-top: 100px
        &__letters
            display: none
        &__container
            padding: 15px
            margin: 0 -15px
        &__bg
            width: 100vw
            height: 100vw
            top: 46px
            left: 0
            transform: none
        &__title
            max-width: 290px
            margin: -30px auto 0
            font-size: 100px
        &__desc
            font-size: 20px
            max-width: 290px
            span
                &:after
                    height: 3px
                    bottom: 0
        &__list
            flex-direction: column
            margin-bottom: 0
            li
                flex: 0 0 auto
                margin-bottom: 60px
                img
                    width: 60px
                    height: 60px
                b
                    font-size: 21px
    .emax-color
        padding-top: 66px
        &__img
            width: 100vw
            transform: none
            margin: 38px -15px 0
        &__block
            margin-bottom: 50px
            .arrow
                width: 88px
                height: 288px
                flex: 0 0 288px
                position: absolute
                left: 15px
                top: 50px
            &:before
                content: ''
                width: 120vw
                height: 181px
                background-color: transparentize($red, 0.8)
                position: absolute
                left: -20vw
                top: -20px
                z-index: -1
            &_right
                .arrow
                    left: auto
                    right: 15px
                    top: -130px
                &:before
                    background-color: transparentize($blue, 0.8)
    .emax-features
        padding-top: 46px
        .block
            &__heading
                max-width: 210px
        .button
            margin: 60px auto
        .dialogue
            margin: 60px auto 0
        &__bg
            display: none
        &__container
            margin: 0
            padding: 0
            .list
                flex-direction: column
                li
                    flex: 0 0 auto
                    margin-bottom: 60px
                    b
                        font-size: 21px
    .compare
        background: url('../img/decors/compare__bg.svg') no-repeat center top / 100vw, linear-gradient(to bottom, #e6e6e6, #e6e6e6) no-repeat center top 1600px / cover
        padding-bottom: 60px
        .block
            &__desc
                margin: 40px auto 60px
        &__blocks
            li
                flex: 0 0 100%
    .price
        margin-top: -60px
        background: url('../img/decors/price__bg_mobile.svg') no-repeat center top / 100vw 580px
        .block
            &__heading
                text-align: center
        .iphone
            display: none
        .dialogue
            margin: 70px auto 120px
            li
                align-items: center
                flex-direction: column
                transform: none !important
                img
                    order: 0
                    margin: 0 auto 10px
                    width: 62px
                    height: 62px
                div
                    order: 1
                    padding: 20px
                    b
                        font-size: 16px
                    p
                        font-size: 14px
                    &:after
                        left: -14px
                &.customer
                    div
                        &:after
                            bottom: 20px
                            right: -14px
                &:nth-child(4)
                    margin-top: 0
        &__bg
            display: none
        &__icon
            margin: 30px auto 40px
            width: 91px
            height: 83px
        &__gradient
            text-align: center
            font-size: 72px
            max-width: 290px
        &__text
            text-align: center
            font-size: 21px
        &__img
            width: 100%
            min-height: 100px
            margin: 30px auto 0
    .choice
        padding-bottom: 40px
        .block
            &__heading
                text-align: center
                font-size: 36px
                margin-bottom: 30px
        .list
            flex-direction: column
            li
                flex: 0 0 auto
                margin-bottom: 50px
                .counter
                    b
                        font-size: 64px
                    p
                        margin: -45px 0 30px
                img
                    margin: 0 auto
        &__container
            padding: 0
            box-shadow: none
    .meeting
        z-index: 1
        .form
            border-radius: 0
            padding: 15px
            padding-bottom: 40px
            margin: 58px -15px 0
        &__bg
            display: none
    .wear
        padding-top: 60px
        background: url('../img/decors/wear__bg_mobile.svg') no-repeat center top / 100vw calc(850px - 50vw)
        .block
            &__heading
                margin: 0px auto 60px
                text-align: center
        .dialogue
            max-width: 100vw
            margin: 0 auto 60px
            li
                flex-direction: column
                div
                    padding: 20px
                    order: 0
                    p
                        font-size: 16px
                        &.heading
                            font-size: 18px
                        span
                            font-size: 16px
                    ul
                        margin: 20px 0
                        li
                            margin-bottom: 15px
                            &:before
                                display: none
                    &:after
                        left: -14px
                img
                    order: 1
                &.customer
                    padding: 0
                    div
                        &:after
                            right: -14px
                    img
                        display: none
                &:last-child
                    padding: 0
                    img
                        margin: 30px auto 0
        &__bg
            display: none
        &__text
            margin: 0 auto 30px
        &__img
            width: 100%
            margin: 0 auto -40px
        &__note
            margin: 0 auto 0
            font-size: 16px
            padding: 15px 25px
            font-weight: 700
    .armor
        padding-top: 65px
        .block
            &__heading
                max-width: 290px
                margin: 0 auto 50px
                span
                    display: inline
                    &:after
                        width: 290px
                        left: -105px
        .list
            align-items: flex-start
            li
                img
                    margin-right: 15px
        &__img
            width: 100%
    .workflow
        padding-top: 90px
        .button
            margin: 0 auto
        &__bg
            display: none
        &__container
            margin: 0
            padding: 0
            filter: none
            &:after
                display: none
            &_0-1
                .workflow
                    &__block
                        margin: 0
        &__list
            flex-direction: column
            margin: 50px auto 0 !important
            li
                flex: 0 0 auto !important
                margin-bottom: 50px
                .content
                    p
                        br
                            display: none
        &__heading
            font-size: 18px
            margin-bottom: 0
        &__title
            font-size: 24px
    .technic
        padding: 0
        .list
            margin: 30px auto 0
        &__bg
            background: url("../img/decors/technic__bg_mobile.svg")
            width: 100vw
            height: calc(1350px - 50vw)
            top: auto
            bottom: -630px
            left: 0
            transform: none
            z-index: 0
        &__question
            max-width: 230px
            p
                padding: 23px 15px
                text-align: center
        &__img
            margin: 30px auto 0
            position: relative
            z-index: -1
        &__note
            font-size: 14px
            padding: 18px
            br
                display: none
            &:after
                left: -14px
    .model
        padding-top: 30px
        .dialogue
            margin: 0 auto 110px
            li
                flex-direction: column
                div
                    order: 0
                    padding: 20px 10px !important
                    p
                        font-size: 14px
                        margin: 0 0 20px
                        &:last-child
                            margin: 0
                    &:after
                        left: -14px
                img
                    order: 1
                    margin: -20px auto 0
                    width: 309px
                    height: 309px
                &.customer
                    padding: 0
                    div
                        &:after
                            right: -14px
                &:last-child
                    transform: none
        &__bg
            display: none
    .workflow_1
        padding-top: 0
        &__bg
            display: none
        .workflow
            &__container
                display: flex
                flex-direction: column
            &__cite
                order: 2
                margin: 10px auto 0px
                font-size: 14px
                padding: 18px
                &:before
                    border-width: 0 15px 25px 0
                    left: -15px
                &:after
                    border-width: 0 13px 23px 0
                    left: -13px
            &__heading
                order: 0
            &__title
                order: 1
            &__list
                order: 3
                li
                    margin-bottom: 30px
            &__note
                order: 4
                margin-bottom: 0
    .workflow_2
        &__bg
            display: none
        .workflow
            &__heading
                margin-top: 80px
            &__title
                font-size: 36px
            &__note
                margin: 0 auto 0
    .workflow_3
        .workflow
            &__heading
                margin-bottom: 15px
            &__title
                max-width: 200px
                line-height: 1
                font-size: 36px
                background: linear-gradient(170deg, #7200FF, #00CCED)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
            &__list
                li
                    margin-bottom: 20px
            &__note
                margin: 0 auto
    .life-change
        padding-top: 60px
        padding-bottom: 80px
        background: url('../img/decors/life-change__bg_mobile.svg') no-repeat center bottom / 100vw calc(670px - 50vw)
        .block
            &__heading
                max-width: 260px
                margin: 0 auto
                br
                    display: none
                span
                    &:after
                        left: -60px
                        width: 140px
        .list
            align-items: flex-start
            li
                width: 100% !important
        .dialogue
            li
                transform: none !important
                div
                    width: 100%
                    padding: 20px
                    min-width: 0 !important
                    p
                        font-size: 16px
                        br
                            display: none
                        &.heading
                            font-size: 21px
                    &:after
                        left: -14px
                img
                    display: none
                &.customer
                    div
                        &:after
                            right: -14px
        &__bg
            display: none
        &__img
            width: 100%
    .guarantee
        padding-top: 50px
        .block
            &__heading
                max-width: 213px
                margin-bottom: 20px
            &__desc
                font-size: 21px
        &__bg
            display: none
        &__image
            img
                width: 100%
        &__text
            br
                display: none
    .guarantee-reason
        margin-top: 60px
        padding: 45px 0
        background: url('../img/decors/guarantee-reason__bg_mobile.svg') no-repeat center top / 100vw 100%
        .dialogue
            li
                img
                    display: none
                div
                    padding: 20px
                    b
                        font-size: 24px
                    p
                        font-size: 14px
                        br
                            display: none
                    &:after
                        left: -14px
                &.customer
                    div
                        p
                            font-size: 16px
                        &:after
                            border-width: 25px 20px 0 0
                            border-color: $blue transparent transparent transparent
                            top: auto
                            bottom: 20px
                            right: -14px
        &__bg
            display: none
    .not-sure
        margin-top: 0
        img
            width: 100%
            margin: 0 auto
        .block
            &__desc
                span
                    font-size: 21px
        &__cite
            padding: 18px
            font-size: 16px
            &:after
                right: -14px
    .reviews
        padding: 50px 0
        background: url('../img/decors/reviews__bg_mobile.svg') no-repeat center top / 330vw 100%
        .block
            &__heading
                margin: 20px auto
        &__bg
            display: none
        &__button
            display: none
        &__blocks
            margin: 0
            li
                flex: 0 0 100%
                &.hidden
                    display: block
            .slick-slide
                margin: 60px 10px 30px
                box-shadow: none
            .slick-dots
                li
                    padding: 0
                    margin: 0 5px
                    background: none
                    box-shadow: none
                    border: 2px solid $white
                    button
                        display: none
                    &.slick-active
                        background-color: $white
    .consult
        padding: 60px 0 0
        .block
            &__desc
                font-size: 21px
                margin-bottom: 40px
            &__heading
                margin-bottom: calc(170px + 40vw)
        .form
            margin: 0 auto
            box-shadow: none
            padding: 0
        &__bg
            bottom: auto
            top: calc(400px - 40vw)
            width: 100vw
            height: 350px
            left: 0
            transform: none
            background-size: contain
            background-repeat: no-repeat
    .contacts
        .block
            &__heading
                font-size: 36px
        &__map
            margin: 0 -15px 80px
            width: 100vw
            height: 100vw
            box-shadow: none
            ymaps
                border-radius: 0
            img
                border-radius: 0
        &__link
            padding: 0
            align-items: center
            box-shadow: none
    .footer
        &__brand
            img
                width: 100%
                margin-right: 10px
            p
                font-size: 16px
                letter-spacing: 1px
                margin-right: -40px
        &__callback
            .link
                font-size: 14px
                margin-bottom: 10px
            .button
                p
                    font-size: 14px
        &__creator
            max-width: 290px
            margin: 60px auto 0
            img
                width: 175px
            p
                font-size: 14px